<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.form_keluhan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IgdActivity"
            android:label="@string/title_activity_igd"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".GedungOActivity"></activity>
        <activity android:name=".GedungPActivity" />
        <activity android:name=".GedungQActivity" />
        <activity android:name=".GedungAJActivity" />
        <activity android:name=".GedungAIActivity" />
        <activity android:name=".GedungAHActivity" />
        <activity android:name=".GedungABActivity" />
        <activity android:name=".GedungAAActivity" />
        <activity android:name=".GedungSSActivity" />
        <activity android:name=".GedungSActivity" />
        <activity android:name=".GedungTTActivity" />
        <activity android:name=".GedungTActivity" />
        <activity android:name=".GedungUActivity" />
        <activity android:name=".GedungRActivity" />
        <activity android:name=".GedungNActivity" />
        <activity android:name=".GedungMActivity" />
        <activity android:name=".GedungJActivity" />
        <activity android:name=".GedungKActivity" />
        <activity android:name=".GedungGActivity" />
        <activity android:name=".GedungLActivity" />
        <activity android:name=".GedungAActivity" />
        <activity android:name=".AuditoriumActivity"/>
        <activity android:name=".KamarMandiActivity"/>
        <activity android:name=".KasubacActivity"/>
        <activity android:name=".KomiteMedikActivity"/>
        <activity android:name=".PanelListrikActivity"/>
        <activity android:name=".RuangAkreditasiActivity"/>
        <activity android:name=".RuangDirekturActivity"/>
        <activity android:name=".RekapMedikActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".FormActivity" />
        <activity android:name=".Lantai2Activity" />
        <activity android:name=".Lantai1Activity" />
        <activity android:name=".BerandaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>