<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.form_keluhan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KodeActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".lantai1.GedungOActivity" />
        <activity android:name=".lantai1.GedungPActivity" />
        <activity android:name=".lantai1.GedungQActivity" />
        <activity android:name=".lantai1.GedungAJActivity" />
        <activity android:name=".lantai1.GedungAIActivity" />
        <activity android:name=".lantai1.GedungAHActivity" />
        <activity android:name=".lantai1.GedungABActivity" />
        <activity android:name=".lantai1.GedungAAActivity" />
        <activity android:name=".lantai1.GedungSSActivity" />
        <activity android:name=".lantai1.GedungSActivity" />
        <activity android:name=".lantai1.GedungTTActivity" />
        <activity android:name=".lantai1.GedungTActivity" />
        <activity android:name=".lantai1.GedungUActivity" />
        <activity android:name=".lantai1.GedungRActivity" />
        <activity android:name=".lantai1.GedungNActivity" />
        <activity android:name=".lantai1.GedungMActivity" />
        <activity android:name=".lantai1.GedungJActivity" />
        <activity android:name=".lantai1.GedungKActivity" />
        <activity android:name=".lantai1.GedungGActivity" />
        <activity android:name=".lantai1.GedungLActivity" />
        <activity android:name=".lantai1.GedungAActivity" />
        <activity android:name=".lantai2.AuditoriumActivity" />
        <activity android:name=".lantai2.KamarMandiActivity" />
        <activity android:name=".lantai2.KasubacActivity" />
        <activity android:name=".lantai2.KomiteMedikActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".lantai2.PanelListrikActivity" />
        <activity android:name=".lantai2.RuangAkreditasiActivity" />
        <activity android:name=".lantai2.RuangDirekturActivity" />
        <activity android:name=".lantai2.RekapMedikActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FormActivity" />
        <activity android:name=".Lantai2Activity" />
        <activity android:name=".Lantai1Activity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>